{% extends "base.html" %}
{% load rest_framework %}

{% block extra_js %}
    <script>
        $(function() {
            $('#updateBtn').click(function(e){
                e.preventDefault();
                const title = $('input[name="title"]').val();
                const description = $('textarea[name="description"]').val();
                const date = $('input[name="date"]').val();
                $.ajax({
                    headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                    url: "{% url 'events-detail' pk=event.pk %}",
                    data: {title:title, description:description, date:date},
                    type: 'PUT',
                    success: function(result) {
                        $('#alert').addClass('alert-success').removeClass('alert-error').html('Succesfully updated');
                    },
                    error: function(result) {
                        $('#alert').html(result.responseText).addClass('alert-danger').removeClass('alert-success');
                    }
                });
            });

            $('#deleteBtn').click(function(e){
                e.preventDefault();
                $.ajax({
                    headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                    url: "{% url 'events-detail' pk=event.pk %}",
                    data: {},
                    type: 'DELETE',
                    success: function(result) {
                        $('#alert').addClass('alert-success').removeClass('alert-error').html('Succesfully removed');
                    },
                    error: function(result) {
                        $('#alert').html(result.responseText).addClass('alert-danger').removeClass('alert-success');
                    }
                });
            });
        });
    </script>
{% endblock %}


{% block body %}

<div class="container">
    <h1>Event - {{ event.title }}</h1>

    <form action="#" method="PUT">
        {% csrf_token %}

        <div class="form-group ">
            <label>Title</label>
            <input name="title" class="form-control" type="text" value="{{ event.title }}">
        </div>

        <div class="form-group ">
            <label>Date</label>
            <input name="date" class="form-control" type="datetime-local" value="{{ event.date|date:"c" }}">
        </div>

        <div class="form-group ">
            <label>Description</label>
            <textarea name="description" class="form-control">{{ event.description }}</textarea>
        </div>

        <div class="form-group ">
            <label>Participants</label>
            <input name="participants" class="form-control" type="number" value="{{ event.participants }}" disabled>
        </div>

        <button type="button" class="btn btn-primary" id="updateBtn">Update</button>
        <button type="button" class="btn btn-danger" id="deleteBtn">Delete</button>
    </form>
    <div class="alert" id="alert" role="alert"></div>
</div>

{% endblock %}